<style>
	table {
		border:1px black solid;
		border-collapse: collapse;
	}
	td {
		border:1px black solid;	
	}
</style>
<table>
	<tr>
		<td scope="col">nom_partie</td>
		<td scope="col">j1_nom_joueur</td>
		<td scope="col">j2_nom_joueur</td>
	</tr>
	<tr ng-repeat="game in homeCtrl.games track by $index">
			<td>{{game.nom_partie}}</td>
			<td>{{game.j1_nom_joueur}}</td>
			<td>{{game.j2_nom_joueur}}</td>
			<td><button ng-if="!game.user2" ng-click="homeCtrl.join(game)" type="submit">Participer</button><button ng-if="game.user2" ng-click="homeCtrl.prepare(game)">Jouer</button></td>
		</tr>

		
</table>