<form ng-submit="newCtrl.save(newForm)" name="newForm" novalidate>

	<p>
		<label>
			Nom : <input required name="name" type="text" ng-model="newCtrl.game.name">
		</label>
	</p>
	<p>
		<label>
			E-mail : <input name="email" type="email" ng-model="newCtrl.game.user1.email">
		</label>
	</p>
	<p>
		<label>
			Champ de bataille :
			<input name="width" type="number" min="1" max="10" ng-model="newCtrl.game.battlefieldSize.width"><input name="height" type="number" min="1" max="10" ng-model="newCtrl.game.battlefieldSize.height">
		</label>
	</p>
					
	<p>
		<label>
			Nombre bateaux :
			<select required name="fleetSize" ng-model="newCtrl.game.fleetSize" ng-options="s.valeur as s.label for s in newCtrl.optionsNbBateaux">
			</select>
		</label>
	</p>
	<button type="submit">Enregistrer</button>
</form>

<pre>{{newCtrl.game|json}}</pre>