<style>
	table {
		border:1px black solid;
		border-collapse: collapse;
	}
	td {
		border:1px black solid;	
	}
</style>
<table>
	<tr>
		<td scope="col">game.id</td>
		<td scope="col">name</td>
		<td scope="col">user1.email</td>
	</tr>
	<tr ng-repeat="game in homeCtrl.games track by $index">
			<td>{{game.id}}</td>
			<td>{{game.name}}</td>
			<td>{{game.user1.pseudo}}</td>
			<td>{{game.user2.pseudo}}</td>
			<td><button ng-if="!game.user2" ng-click="homeCtrl.join(game)" type="submit">Participer</button><button ng-if="game.user2" ng-click="homeCtrl.prepare(game)">Jouer</button></td>
		</tr>
</table>